#chat {
    padding: 5%;
    min-width: 400px;

    
}

#chat > #caja-chat {
    height: 300px;
    overflow-y: auto;
    max-height: 300px;
}

#chat > #messages {
    min-height: 50% !important;
}

.img-user {
    height: 30px;
}

